In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Foreign exchange rate
Exchange Rate prives of different currencies to USD

dataset = concate(forex.csv , craw_exchange_data)

In [2]:
data_file_old = "raw_data/forex.csv"
data_old = pd.read_csv(data_file_old, index_col='Date')
data_old.tail()

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-17,0.7211,1.1869,0.6547,1.3105,5.4734,1.3202,6.9318,6.2727,7.7503,74.74,...,8.8633,17.46,1.3679,1184.17,183.13,8.6918,0.9058,29.38,31.15,293920.7455
2020-08-18,0.7235,1.1928,0.6588,1.3228,5.4845,1.3181,6.9215,6.2406,7.7501,74.62,...,8.8387,17.3525,1.3647,1184.74,184.23,8.6481,0.9029,29.39,31.16,289550.7506
2020-08-19,0.7234,1.1898,0.6607,1.3191,5.5045,1.3173,6.9192,6.258,7.75,74.85,...,8.8504,17.18,1.366,1181.06,186.1,8.6574,0.9114,29.37,31.25,291796.8124
2020-08-20,0.7178,1.1862,0.6519,1.319,5.637,1.3177,6.9143,6.2783,7.75,75.01,...,8.9437,17.275,1.3676,1187.66,184.35,8.706,0.9082,29.42,31.41,296027.271
2020-08-21,0.7156,1.1775,0.6533,1.3098,5.5949,1.3201,6.9179,6.3235,7.7502,74.92,...,9.0457,17.1275,1.3723,1191.84,184.5,8.7988,0.9131,29.4,31.56,302779.1537

In [3]:
data_file_new = "raw_data/craw_exchange_rates.csv"
data_new = pd.read_csv(data_file_new, index_col='Date')
data_new.head()

,Argentine Peso,Australian Dollar,Bahraini Dinar,Botswana Pula,Brazilian Real,British Pound,Bruneian Dollar,Bulgarian Lev,Canadian Dollar,Chilean Peso,...,South African Rand,South Korean Won,Sri Lankan Rupee,Swedish Krona,Swiss Franc,Taiwan New Dollar,Thai Baht,Trinidadian Dollar,Turkish Lira,Venezuelan Bolivar
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-22,73.579256,1.396602,0.376,11.637555,5.618639,0.763911,1.371719,1.657960,1.318061,793.075643,...,17.153688,1191.972597,184.690358,8.803005,0.911707,29.448058,31.584300,6.755045,7.337336,9.9875
2020-08-23,73.579557,1.395563,0.376,11.637555,5.620804,0.763985,1.371610,1.657235,1.317663,793.066931,...,17.151668,1191.949155,184.690358,8.808219,0.910681,29.447367,31.585409,6.755030,7.336388,9.9875
2020-08-24,73.710014,1.393959,0.376,11.643542,5.601739,0.764626,1.369650,1.657013,1.321918,787.744791,...,16.936985,1189.103180,185.030870,8.783523,0.910874,29.378730,31.485500,6.773416,7.380489,9.9875
2020-08-25,73.804240,1.392982,0.376,11.621302,5.606940,0.761295,1.369387,1.654960,1.319180,786.163715,...,16.867176,1188.238103,186.111115,8.774083,0.908908,29.394718,31.444347,6.776604,7.403526,9.9875
2020-08-26,73.857449,1.384584,0.376,11.621117,5.600594,0.758394,1.366561,1.655690,1.314637,786.596159,...,16.977582,1185.733551,186.190027,8.740750,0.908608,29.365264,31.274246,6.775702,7.380877,9.9875

In [4]:
for col in data_new.columns:
    if col not in ['Date', 'Australian Dollar', 'Euro', 'New Zealand Dollar', 'British Pound', 'Brazilian Real', 'Canadian Dollar', 'Chinese Yuan Renminbi', 'Danish Krone', 'Hong Kong Dollar', 'Indian Rupee', 'Japanese Yen', 'Malaysian Ringgit', 'Mexican Peso', 'Norwegian Krone', 'South African Rand', 'Singapore Dollar', 'South Korean Won', 'Sri Lankan Rupee', 'Swedish Krona', 'Swiss Franc', 'Taiwan New Dollar', 'Thai Baht', 'Venezuelan Bolivar']:
        data_new = data_new.drop(columns=col)

In [5]:
# rename all columns in data to match data in the data_old
data_new = data_new.rename(columns={'Australian Dollar': 'AUD', 'Euro': 'EUR', 'New Zealand Dollar': 'NZD', 'British Pound': 'GBP', 'Brazilian Real': 'BRL', 'Canadian Dollar': 'CAD', 'Chinese Yuan Renminbi': 'CNY', 'Danish Krone': 'DKK', 'Hong Kong Dollar': 'HKD', 'Indian Rupee': 'INR', 'Japanese Yen': 'JPY', 'Malaysian Ringgit': 'MYR', 'Mexican Peso': 'MXN', 'Norwegian Krone': 'NOK', 'South African Rand': 'ZAR', 'Singapore Dollar': 'SGD', 'South Korean Won': 'KRW', 'Sri Lankan Rupee': 'LKR', 'Swedish Krona': 'SEK', 'Swiss Franc': 'CHF', 'Taiwan New Dollar': 'TWD', 'Thai Baht': 'THB', 'Venezuelan Bolivar': 'VEB'})

# rearrange columns in data to match data_old
data_new = data_new[['AUD', 'EUR', 'NZD', 'GBP', 'BRL', 'CAD', 'CNY', 'DKK', 'HKD', 'INR', 'JPY', 'MYR', 'MXN', 'NOK', 'ZAR', 'SGD', 'KRW', 'LKR', 'SEK', 'CHF', 'TWD', 'THB', 'VEB']]

# drop rows with NaN values
data_new = data_new.drop(data_new[data_new.values == 'ND'].index)

In [6]:
data_new.info()
data_new.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1394 entries, 2020-08-22 to 2024-06-15
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AUD     1394 non-null   float64
 1   EUR     1394 non-null   float64
 2   NZD     1394 non-null   float64
 3   GBP     1394 non-null   float64
 4   BRL     1394 non-null   float64
 5   CAD     1394 non-null   float64
 6   CNY     1394 non-null   float64
 7   DKK     1394 non-null   float64
 8   HKD     1394 non-null   float64
 9   INR     1394 non-null   float64
 10  JPY     1394 non-null   float64
 11  MYR     1394 non-null   float64
 12  MXN     1394 non-null   float64
 13  NOK     1394 non-null   float64
 14  ZAR     1394 non-null   float64
 15  SGD     1394 non-null   float64
 16  KRW     1394 non-null   float64
 17  LKR     1394 non-null   float64
 18  SEK     1394 non-null   float64
 19  CHF     1394 non-null   float64
 20  TWD     1394 non-null   float64
 21  THB     1394 non-null   float64
 22  VEB     1394 non-null   float64
dtypes: float64(23)
memory usage: 261.4+ KB

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
count,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,...,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1394.000000,1.394000e+03
mean,1.432926,0.902965,1.546174,0.780232,5.189742,1.308956,6.799790,6.722864,7.806278,78.509650,...,9.666075,16.751733,1.353819,1249.331832,277.165587,9.759796,0.916990,29.823433,33.910482,4.627731e+10
std,0.086645,0.052013,0.106854,0.044525,0.252721,0.046668,0.328800,0.389431,0.034281,4.105071,...,0.902448,1.712179,0.022960,92.772239,70.271950,0.961748,0.031220,1.631559,2.108043,1.175300e+11
min,1.257446,0.813388,1.346304,0.703625,4.619941,1.203300,6.309275,6.051084,7.749536,72.379852,...,8.212251,13.424849,1.309678,1082.367610,183.563724,8.184033,0.839801,27.524048,29.790170,9.987500e+00
25%,1.361480,0.850730,1.439840,0.738825,4.989275,1.268861,6.472824,6.330213,7.775281,74.307398,...,8.797457,15.112611,1.338833,1169.545890,199.508970,8.712544,0.897378,28.037653,32.576650,4.522010e+05
50%,1.438396,0.914680,1.572065,0.785457,5.176843,1.313347,6.779730,6.816218,7.812819,79.363644,...,9.805950,16.833806,1.349820,1272.561138,303.928337,10.186050,0.914593,29.895918,34.167524,2.213480e+06
75%,1.506718,0.934722,1.630178,0.809245,5.361061,1.351806,7.144869,6.968397,7.837397,82.714250,...,10.533017,18.414148,1.363356,1324.347151,328.759018,10.546980,0.929100,31.315478,35.548098,3.595907e+06
max,1.614636,1.039078,1.798715,0.933255,5.807005,1.389372,7.341233,7.727301,7.850709,83.669423,...,11.229782,19.778028,1.437973,1443.618270,368.497099,11.347219,1.013369,32.655711,38.330484,4.282961e+11

In [7]:
# convert all values to numeric
# data_new = data.apply(pd.to_numeric)

In [8]:
data_new.head()

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-22,1.396602,0.847702,1.528191,0.763911,5.618639,1.318061,6.918983,6.311640,7.750382,74.945117,...,9.012533,17.153688,1.371719,1191.972597,184.690358,8.803005,0.911707,29.448058,31.584300,9.9875
2020-08-23,1.395563,0.847331,1.529008,0.763985,5.620804,1.317663,6.918471,6.311767,7.750209,74.945209,...,9.010828,17.151668,1.371610,1191.949155,184.690358,8.808219,0.910681,29.447367,31.585409,9.9875
2020-08-24,1.393959,0.847217,1.529953,0.764626,5.601739,1.321918,6.919940,6.306667,7.750069,74.178602,...,8.995832,16.936985,1.369650,1189.103180,185.030870,8.783523,0.910874,29.378730,31.485500,9.9875
2020-08-25,1.392982,0.846168,1.531507,0.761295,5.606940,1.319180,6.913134,6.297897,7.750692,74.226103,...,8.978172,16.867176,1.369387,1188.238103,186.111115,8.774083,0.908908,29.394718,31.444347,9.9875
2020-08-26,1.384584,0.846541,1.515130,0.758394,5.600594,1.314637,6.886889,6.301694,7.750277,74.243657,...,8.921152,16.977582,1.366561,1185.733551,186.190027,8.740750,0.908608,29.365264,31.274246,9.9875

In [9]:
# merge data and data_old
forex = pd.concat([data_old, data_new])
forex = forex.drop(forex[forex.values == 'ND'].index)

# convert all values to numeric
forex = forex.apply(pd.to_numeric)
forex.head(20)

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,43.55,...,7.9640,6.1260,1.6563,1128.0,72.30,8.4430,1.5808,31.38,36.97,0.6498
2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,43.55,...,7.9340,6.0850,1.6535,1122.5,72.65,8.3600,1.5565,30.60,37.13,0.6503
2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,43.55,...,7.9350,6.0700,1.6560,1135.0,72.95,8.3530,1.5526,30.80,37.10,0.6515
2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,43.55,...,7.9400,6.0800,1.6655,1146.5,72.95,8.3675,1.5540,31.75,37.62,0.6503
2000-01-07,0.6548,1.0294,0.5160,1.6384,1.8310,1.4505,8.2794,7.2285,7.7783,43.55,...,7.9660,6.0570,1.6625,1138.0,73.15,8.4150,1.5623,30.85,37.30,0.6508
2000-01-10,0.6561,1.0252,0.5168,1.6374,1.8190,1.4568,8.2794,7.2540,7.7785,43.55,...,8.0240,6.0765,1.6618,1133.5,73.30,8.4490,1.5704,30.83,37.27,0.6518
2000-01-11,0.6575,1.0322,0.5164,1.6480,1.8225,1.4570,8.2795,7.2140,7.7785,43.60,...,7.9690,6.0900,1.6690,1147.0,73.35,8.3970,1.5605,30.83,37.61,0.6520
2000-01-12,0.6578,1.0281,0.5185,1.6465,1.8350,1.4550,8.2796,7.2360,7.7787,43.60,...,7.9770,6.0685,1.6690,1144.5,73.35,8.4180,1.5660,30.80,37.54,0.6526
2000-01-13,0.6687,1.0270,0.5240,1.6482,1.8140,1.4495,8.2798,7.2520,7.7788,43.55,...,7.9425,6.0570,1.6700,1135.5,73.35,8.4170,1.5707,30.80,37.49,0.6533
2000-01-14,0.6665,1.0128,0.5212,1.6353,1.8050,1.4497,8.2797,7.3470,7.7789,43.55,...,7.9970,6.0750,1.6752,1125.0,73.35,8.4740,1.5945,30.83,37.55,0.6513
2000-01-18,0.6640,1.0121,0.5170,1.6380,1.7942,1.4502,8.2793,7.3560,7.7790,43.60,...,8.0100,6.0890,1.6735,1127.0,72.85,8.4680,1.5942,30.89,37.40,0.6534
2000-01-19,0.6634,1.0115,0.5155,1.6438,1.7930,1.4527,8.2797,7.3655,7.7798,43.60,...,8.0000,6.1140,1.6753,1134.0,73.20,8.4870,1.5965,30.85,37.40,0.6525
2000-01-20,0.6666,1.0133,0.5132,1.6538,1.7785,1.4484,8.2794,7.3430,7.7795,43.60,...,7.9770,6.1000,1.6765,1126.0,72.95,8.4680,1.5915,30.85,37.28,0.6535
2000-01-21,0.6621,1.0100,0.5104,1.6504,1.7800,1.4420,8.2795,7.3725,7.7792,43.60,...,7.9990,6.1280,1.6810,1128.0,73.30,8.4930,1.5973,30.85,37.23,0.6535
2000-01-24,0.6544,1.0019,0.5061,1.6520,1.7680,1.4400,8.2789,7.4280,7.7795,43.62,...,8.0260,6.1675,1.6825,1124.5,72.95,8.5260,1.6090,30.85,37.30,0.6540
2000-01-25,0.6542,1.0041,0.5068,1.6482,1.7800,1.4389,8.2786,7.4120,7.7800,43.59,...,8.0360,6.1617,1.6867,1127.0,73.45,8.5210,1.6085,30.85,37.27,0.6551
2000-01-26,0.6505,1.0011,0.5060,1.6395,1.7810,1.4379,8.2782,7.4330,7.7805,43.65,...,8.0675,6.1750,1.6950,1127.8,73.40,8.5285,1.6102,30.85,37.48,0.6550
2000-01-27,0.6550,0.9890,0.5072,1.6363,1.7800,1.4350,8.2783,7.5250,7.7805,43.63,...,8.1475,6.2270,1.6930,1125.0,73.45,8.6150,1.6317,30.83,37.46,0.6550
2000-01-28,0.6265,0.9765,0.4870,1.6210,1.7900,1.4495,8.2781,7.6165,7.7800,43.65,...,8.2700,6.3575,1.7100,1121.0,73.05,8.8200,1.6485,30.75,37.65,0.6550
2000-01-31,0.6382,0.9757,0.4953,1.6182,1.8020,1.4517,8.2777,7.6330,7.7810,43.65,...,8.3010,6.3125,1.7010,1124.0,73.50,8.8150,1.6495,30.75,37.55,0.6558

In [10]:
forex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6566 entries, 2000-01-03 to 2024-06-15
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AUD     6566 non-null   float64
 1   EUR     6566 non-null   float64
 2   NZD     6566 non-null   float64
 3   GBP     6566 non-null   float64
 4   BRL     6566 non-null   float64
 5   CAD     6566 non-null   float64
 6   CNY     6566 non-null   float64
 7   DKK     6566 non-null   float64
 8   HKD     6566 non-null   float64
 9   INR     6566 non-null   float64
 10  JPY     6566 non-null   float64
 11  MYR     6566 non-null   float64
 12  MXN     6566 non-null   float64
 13  NOK     6566 non-null   float64
 14  ZAR     6566 non-null   float64
 15  SGD     6566 non-null   float64
 16  KRW     6566 non-null   float64
 17  LKR     6566 non-null   float64
 18  SEK     6566 non-null   float64
 19  CHF     6566 non-null   float64
 20  TWD     6566 non-null   float64
 21  THB     6566 non-null   float64
 22  VEB     6566 non-null   float64
dtypes: float64(23)
memory usage: 1.2+ MB

In [11]:
# save the data to a new csv file
forex.to_csv('dataset.csv')

# GDP
Using squeeze=True to acquire the data as a Series instead of Dataframe.

In [13]:
file_GBP = "raw_data/gdp_GBP.csv"
gdpGBP = pd.read_csv(file_GBP, index_col="DATE", parse_dates=True)
gdpGBP = gdpGBP.squeeze(True)

#chage the name
gdpGBP.name = "GDP in GBP"

gdpGBP

DATE
2000-01-01    100.84230
2000-02-01    100.90500
2000-03-01    100.93520
2000-04-01    100.93770
2000-05-01    100.91940
                ...
2023-04-01     99.88166
2023-05-01     99.85315
2023-06-01     99.81881
2023-07-01     99.78423
2023-08-01     99.75476
Name: GDP in GBP, Length: 284, dtype: float64

In [16]:
file_USD = "raw_data/gdp_USA.csv"
gdpUSD = pd.read_csv(file_USD, index_col="DATE", parse_dates=True)
gdpUSD = gdpUSD.squeeze(True)

#chage the name
gdpUSD.name = "GDP in USD"

gdpUSD

DATE
2000-01-01    101.5195
2000-02-01    101.5818
2000-03-01    101.6581
2000-04-01    101.7313
2000-05-01    101.7747
                ...
2023-07-01    100.0677
2023-08-01    100.1888
2023-09-01    100.3023
2023-10-01    100.4033
2023-11-01    100.4912
Name: GDP in USD, Length: 287, dtype: float64

In [17]:
# concate the two Series and merge with the forex data
gdp = pd.concat([gdpGBP, gdpUSD], axis=1, keys=['gdpGBP', 'gdpUSD'])
gdp.dtypes

gdpGBP    float64
gdpUSD    float64
dtype: object

In [18]:
# Convert the index of gdp to datetime
gdp.index = pd.to_datetime(gdp.index)

# Convert the index of forex to the same type as gdp
forex.index = forex.index.astype(gdp.index.dtype)

In [19]:
# merging the two dataframes forex and gdp on the index
data = pd.merge(forex, gdp, left_index=True, right_index=True, how='outer')
data

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB,gdpGBP,gdpUSD
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.8423,101.5195
2000-01-03,0.659100,1.015500,0.525400,1.627000,1.805000,1.446500,8.279800,7.329000,7.776500,43.550000,...,1.656300,1128.000000,72.300000,8.443000,1.580800,31.380000,36.970000,6.498000e-01,NaN,NaN
2000-01-04,0.656200,1.030900,0.519800,1.637000,1.840500,1.451800,8.279900,7.218000,7.777500,43.550000,...,1.653500,1122.500000,72.650000,8.360000,1.556500,30.600000,37.130000,6.503000e-01,NaN,NaN
2000-01-05,0.655000,1.033500,0.517100,1.641500,1.856000,1.451800,8.279800,7.208000,7.778000,43.550000,...,1.656000,1135.000000,72.950000,8.353000,1.552600,30.800000,37.100000,6.515000e-01,NaN,NaN
2000-01-06,0.654000,1.032400,0.514500,1.647500,1.840000,1.457100,8.279700,7.212500,7.778500,43.550000,...,1.665500,1146.500000,72.950000,8.367500,1.554000,31.750000,37.620000,6.503000e-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-11,1.515841,0.931735,1.631062,0.786051,5.353400,1.376758,7.253578,6.949577,7.811661,83.638895,...,1.354001,1380.632846,303.764224,10.511680,0.898800,32.404316,36.767378,3.640488e+06,NaN,NaN
2024-06-12,1.492555,0.922254,1.608355,0.778792,5.391727,1.369258,7.238321,6.878984,7.808406,83.461257,...,1.344626,1365.904080,302.141534,10.308012,0.891796,32.208627,36.463539,3.639495e+06,NaN,NaN
2024-06-13,1.505802,0.929766,1.620082,0.783488,5.378350,1.374745,7.251951,6.936063,7.810498,83.541961,...,1.349594,1376.428778,304.588374,10.476264,0.893493,32.372222,36.745992,3.640529e+06,NaN,NaN
2024-06-14,1.511768,0.934700,1.628520,0.788411,5.356692,1.373957,7.255747,6.973394,7.811850,83.550696,...,1.353394,1384.619135,304.067548,10.535347,0.890725,32.380359,36.681078,3.637539e+06,NaN,NaN
2024-06-15,1.512134,0.933782,1.627663,0.788277,5.377250,1.374093,7.255770,6.971830,7.810608,83.564196,...,1.353374,1382.442911,304.059714,10.539080,0.890478,32.377418,36.684607,3.637257e+06,NaN,NaN

# Current Account

In [45]:
file_name = "raw_data/CA.csv"
data_ca = pd.read_csv(file_name)
data_ca.drop(columns={"SUBJECT", "Subject", "Country", "MEASURE", "Measure", "FREQUENCY", "Frequency", "Time", "Unit Code", "Unit", "PowerCode Code", "PowerCode", "Reference Period Code", "Reference Period", "Flag Codes", "Flags"}, inplace=True)

data_ca

    LOCATION     TIME     Value
0        USA  2000-Q1 -3.790054
1        USA  2000-Q2 -3.762476
2        USA  2000-Q3 -4.050100
3        USA  2000-Q4 -4.073653
4        USA  2001-Q1 -4.092976
..       ...      ...       ...
185      GBR  2022-Q3 -1.880823
186      GBR  2022-Q4  0.635486
187      GBR  2023-Q1 -2.379062
188      GBR  2023-Q2 -3.546464
189      GBR  2023-Q3 -2.506553

[190 rows x 3 columns]

In [46]:
# df of the data for USA
data_ca_USA = data_ca[data_ca["LOCATION"] == "USA"]
data_ca_USA.drop(columns={"LOCATION"}, inplace=True)
data_ca_USA.set_index("TIME", inplace=True)
data_ca_USA

/var/folders/_h/_mbf393j6vn3d57lvxzw185c0000gn/T/ipykernel_8493/155229223.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ca_USA.drop(columns={"LOCATION"}, inplace=True)

            Value
TIME
2000-Q1 -3.790054
2000-Q2 -3.762476
2000-Q3 -4.050100
2000-Q4 -4.073653
2001-Q1 -4.092976
...           ...
2022-Q3 -3.427737
2022-Q4 -3.274018
2023-Q1 -3.199451
2023-Q2 -3.204448
2023-Q3 -2.901892

[95 rows x 1 columns]

In [47]:
# df of the data for GBR
data_ca_GBP = data_ca[data_ca["LOCATION"] == "GBR"]
data_ca_GBP.drop(columns={"LOCATION"}, inplace=True)
data_ca_GBP.set_index("TIME", inplace=True)
data_ca_GBP

/var/folders/_h/_mbf393j6vn3d57lvxzw185c0000gn/T/ipykernel_8493/1149466889.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ca_GBP.drop(columns={"LOCATION"}, inplace=True)

            Value
TIME
2000-Q1 -1.596646
2000-Q2 -1.576924
2000-Q3 -2.005314
2000-Q4 -2.137916
2001-Q1 -1.013332
...           ...
2022-Q3 -1.880823
2022-Q4  0.635486
2023-Q1 -2.379062
2023-Q2 -3.546464
2023-Q3 -2.506553

[95 rows x 1 columns]

In [56]:
# merge the USA and GBR data, each quarter
data_ca = pd.merge(data_ca_GBP, data_ca_USA, left_index=True, right_index=True, how='outer', suffixes=('_GBP', '_USA'))

# rename the columns TIME to Date
data_ca.index.names = ['Date']

# to csv
data_ca.to_csv('raw_data/data_ca.csv')

In [57]:
data_ca.index

Index(['2000-Q1', '2000-Q2', '2000-Q3', '2000-Q4', '2001-Q1', '2001-Q2',
       '2001-Q3', '2001-Q4', '2002-Q1', '2002-Q2', '2002-Q3', '2002-Q4',
       '2003-Q1', '2003-Q2', '2003-Q3', '2003-Q4', '2004-Q1', '2004-Q2',
       '2004-Q3', '2004-Q4', '2005-Q1', '2005-Q2', '2005-Q3', '2005-Q4',
       '2006-Q1', '2006-Q2', '2006-Q3', '2006-Q4', '2007-Q1', '2007-Q2',
       '2007-Q3', '2007-Q4', '2008-Q1', '2008-Q2', '2008-Q3', '2008-Q4',
       '2009-Q1', '2009-Q2', '2009-Q3', '2009-Q4', '2010-Q1', '2010-Q2',
       '2010-Q3', '2010-Q4', '2011-Q1', '2011-Q2', '2011-Q3', '2011-Q4',
       '2012-Q1', '2012-Q2', '2012-Q3', '2012-Q4', '2013-Q1', '2013-Q2',
       '2013-Q3', '2013-Q4', '2014-Q1', '2014-Q2', '2014-Q3', '2014-Q4',
       '2015-Q1', '2015-Q2', '2015-Q3', '2015-Q4', '2016-Q1', '2016-Q2',
       '2016-Q3', '2016-Q4', '2017-Q1', '2017-Q2', '2017-Q3', '2017-Q4',
       '2018-Q1', '2018-Q2', '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2',
       '2019-Q3', '2019-Q4', '2020-Q1', '2020-Q2', '2020-Q3', '2020-Q4',
       '2021-Q1', '2021-Q2', '2021-Q3', '2021-Q4', '2022-Q1', '2022-Q2',
       '2022-Q3', '2022-Q4', '2023-Q1', '2023-Q2', '2023-Q3'],
      dtype='object', name='Date')

In [59]:
# Convert the index of data to datetime
data_ca.index = pd.to_datetime(data_ca.index.str.replace(r'(Q\d)-(\d+)', r'\2-\1'))
data_ca

/var/folders/_h/_mbf393j6vn3d57lvxzw185c0000gn/T/ipykernel_8493/1983504331.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_ca.index = pd.to_datetime(data_ca.index.str.replace(r'(Q\d)-(\d+)', r'\2-\1'))

            Value_GBP  Value_USA
Date
2000-01-01  -1.596646  -3.790054
2000-04-01  -1.576924  -3.762476
2000-07-01  -2.005314  -4.050100
2000-10-01  -2.137916  -4.073653
2001-01-01  -1.013332  -4.092976
...               ...        ...
2022-07-01  -1.880823  -3.427737
2022-10-01   0.635486  -3.274018
2023-01-01  -2.379062  -3.199451
2023-04-01  -3.546464  -3.204448
2023-07-01  -2.506553  -2.901892

[95 rows x 2 columns]

In [60]:
# Indexes became datetime object
data_ca.index

DatetimeIndex(['2000-01-01', '2000-04-01', '2000-07-01', '2000-10-01',
               '2001-01-01', '2001-04-01', '2001-07-01', '2001-10-01',
               '2002-01-01', '2002-04-01', '2002-07-01', '2002-10-01',
               '2003-01-01', '2003-04-01', '2003-07-01', '2003-10-01',
               '2004-01-01', '2004-04-01', '2004-07-01', '2004-10-01',
               '2005-01-01', '2005-04-01', '2005-07-01', '2005-10-01',
               '2006-01-01', '2006-04-01', '2006-07-01', '2006-10-01',
               '2007-01-01', '2007-04-01', '2007-07-01', '2007-10-01',
               '2008-01-01', '2008-04-01', '2008-07-01', '2008-10-01',
               '2009-01-01', '2009-04-01', '2009-07-01', '2009-10-01',
               '2010-01-01', '2010-04-01', '2010-07-01', '2010-10-01',
               '2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01', '2018-07-01', '2018-10-01',
               '2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01',
               '2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01',
               '2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01',
               '2022-01-01', '2022-04-01', '2022-07-01', '2022-10-01',
               '2023-01-01', '2023-04-01', '2023-07-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [61]:
# merge dataset
data = pd.merge(data, data_ca, left_index=True, right_index=True, how='outer')
data

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,LKR,SEK,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,Value_GBP,Value_USA
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.8423,101.5195,-1.596646,-3.790054
2000-01-03,0.659100,1.015500,0.525400,1.627000,1.805000,1.446500,8.279800,7.329000,7.776500,43.550000,...,72.300000,8.443000,1.580800,31.380000,36.970000,6.498000e-01,NaN,NaN,NaN,NaN
2000-01-04,0.656200,1.030900,0.519800,1.637000,1.840500,1.451800,8.279900,7.218000,7.777500,43.550000,...,72.650000,8.360000,1.556500,30.600000,37.130000,6.503000e-01,NaN,NaN,NaN,NaN
2000-01-05,0.655000,1.033500,0.517100,1.641500,1.856000,1.451800,8.279800,7.208000,7.778000,43.550000,...,72.950000,8.353000,1.552600,30.800000,37.100000,6.515000e-01,NaN,NaN,NaN,NaN
2000-01-06,0.654000,1.032400,0.514500,1.647500,1.840000,1.457100,8.279700,7.212500,7.778500,43.550000,...,72.950000,8.367500,1.554000,31.750000,37.620000,6.503000e-01,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-11,1.515841,0.931735,1.631062,0.786051,5.353400,1.376758,7.253578,6.949577,7.811661,83.638895,...,303.764224,10.511680,0.898800,32.404316,36.767378,3.640488e+06,NaN,NaN,NaN,NaN
2024-06-12,1.492555,0.922254,1.608355,0.778792,5.391727,1.369258,7.238321,6.878984,7.808406,83.461257,...,302.141534,10.308012,0.891796,32.208627,36.463539,3.639495e+06,NaN,NaN,NaN,NaN
2024-06-13,1.505802,0.929766,1.620082,0.783488,5.378350,1.374745,7.251951,6.936063,7.810498,83.541961,...,304.588374,10.476264,0.893493,32.372222,36.745992,3.640529e+06,NaN,NaN,NaN,NaN
2024-06-14,1.511768,0.934700,1.628520,0.788411,5.356692,1.373957,7.255747,6.973394,7.811850,83.550696,...,304.067548,10.535347,0.890725,32.380359,36.681078,3.637539e+06,NaN,NaN,NaN,NaN
2024-06-15,1.512134,0.933782,1.627663,0.788277,5.377250,1.374093,7.255770,6.971830,7.810608,83.564196,...,304.059714,10.539080,0.890478,32.377418,36.684607,3.637257e+06,NaN,NaN,NaN,NaN

# Libor rate